package ${package.Service};

import ${package.Entity}.${entity};
import ${package.Entity}.vo.${entity}Vo;
import ${package.Entity}.query.${entity}Query;
import com.xnew.common.abs.service.XnewService;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${entity}Service extends XnewService<${entity}Vo,${entity}Query,${entity}> {

}
#end
